
.vertical-timeline-element--education .vertical-timeline-element-title {
    font-size: 25px;
    font-weight: bold;

}

.vertical-timeline-element--education .location {
    color: gray;
    font-size: 15px;
    font-style: italic;
    font-weight: bold;
    margin-top: 0;
}

.vertical-timeline-element-icon {
    box-shadow: 0 0 0 4px #fff, inset 0 2px 0 rgba(0,0,0,.08), 0 3px 0 4px rgba(0,0,0,.05);
}