    
.vertical-timeline-element--education .vertical-timeline-element-title {
    font-size: 25px;
    font-weight: bold;

}

.vertical-timeline-element--education .languages {
    color: gray;
    font-size: 15px;
    font-style: italic;
    font-weight: bold;
    margin-top: 0;
}

.vertical-timeline-element-icon svg {
    display: block;
    width: 55px;
    height: 55px;
    position: relative;
    left: 50%;
    top: 50%;
    margin-left: -28px;
    margin-top: -28px;
}

